stepFunction.json
{
  "Comment": "Fetch popular movies & series, enrich with TMDB IDs, write IDs to S3, then fetch TMDB popularity and write to S3",
  "StartAt": "Fetch Popular Contents",
  "States": {
    "Fetch Popular Contents": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Fetch Popular Movies",
          "States": {
            "Fetch Popular Movies": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Parameters": {
                "Authentication": {
                  "ConnectionArn": "arn:aws:events:eu-north-1:XXXXXXXXXXXX:connection/IMDB_API_CONNECTION/4e12b979-4c6f-4f4d-8461-8e8ccf88971a"
                },
                "Method": "GET",
                "ApiEndpoint": "https://imdb236.p.rapidapi.com/api/imdb/most-popular-movies"
              },
              "Next": "Enrich Movies With TMDB"
            },
            "Enrich Movies With TMDB": {
              "Type": "Map",
              "ItemsPath": "$.ResponseBody",
              "MaxConcurrency": 2,
              "ItemSelector": {
                "id.$": "$$.Map.Item.Value.id",
                "type.$": "$$.Map.Item.Value.type"
              },
              "Iterator": {
                "StartAt": "Fetch Movie TMDB ID",
                "States": {
                  "Fetch Movie TMDB ID": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::http:invoke",
                    "Parameters": {
                      "Authentication": {
                        "ConnectionArn": "arn:aws:events:eu-north-1:XXXXXXXXXXXX:connection/IMDB_API_CONNECTION/4e12b979-4c6f-4f4d-8461-8e8ccf88971a"
                      },
                      "Method": "GET",
                      "ApiEndpoint.$": "States.Format('https://imdb236.p.rapidapi.com/api/imdb/{}/tmdb-id', $.id)"
                    },
                    "ResultPath": "$.tmdb",
                    "ResultSelector": {
                      "tmdb_id.$": "$.ResponseBody.tmdbId"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.Http.StatusCode.429",
                          "States.TaskFailed"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 5,
                        "BackoffRate": 2
                      }
                    ],
                    "Next": "Build Movie Final Record"
                  },
                  "Build Movie Final Record": {
                    "Type": "Pass",
                    "Parameters": {
                      "id.$": "$.id",
                      "type.$": "$.type",
                      "tmdb_id.$": "$.tmdb.tmdb_id"
                    },
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Fetch Popular Series",
          "States": {
            "Fetch Popular Series": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Parameters": {
                "Authentication": {
                  "ConnectionArn": "arn:aws:events:eu-north-1:XXXXXXXXXXXX:connection/IMDB_API_CONNECTION/4e12b979-4c6f-4f4d-8461-8e8ccf88971a"
                },
                "Method": "GET",
                "ApiEndpoint": "https://imdb236.p.rapidapi.com/api/imdb/most-popular-tv"
              },
              "Next": "Enrich Series With TMDB"
            },
            "Enrich Series With TMDB": {
              "Type": "Map",
              "ItemsPath": "$.ResponseBody",
              "MaxConcurrency": 2,
              "ItemSelector": {
                "id.$": "$$.Map.Item.Value.id",
                "type.$": "$$.Map.Item.Value.type"
              },
              "Iterator": {
                "StartAt": "Fetch Series TMDB ID",
                "States": {
                  "Fetch Series TMDB ID": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::http:invoke",
                    "Parameters": {
                      "Authentication": {
                        "ConnectionArn": "arn:aws:events:eu-north-1:XXXXXXXXXXXX:connection/IMDB_API_CONNECTION/4e12b979-4c6f-4f4d-8461-8e8ccf88971a"
                      },
                      "Method": "GET",
                      "ApiEndpoint.$": "States.Format('https://imdb236.p.rapidapi.com/api/imdb/{}/tmdb-id', $.id)"
                    },
                    "ResultPath": "$.tmdb",
                    "ResultSelector": {
                      "tmdb_id.$": "$.ResponseBody.tmdbId"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.Http.StatusCode.429",
                          "States.TaskFailed"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 5,
                        "BackoffRate": 2
                      }
                    ],
                    "Next": "Build Series Final Record"
                  },
                  "Build Series Final Record": {
                    "Type": "Pass",
                    "Parameters": {
                      "id.$": "$.id",
                      "type.$": "$.type",
                      "tmdb_id.$": "$.tmdb.tmdb_id"
                    },
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "ResultSelector": {
        "records.$": "$[*][*]"
      },
      "ResultPath": "$.content_ids",
      "Next": "Convert JSON to Parquet ContentID"
    },
    "Convert JSON to Parquet ContentID": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "json-to-parquet-contentids",
        "Payload": {
          "bucket": "oruc-imdb-lake",
          "output_key": "raw/stg_contentIDs/data.parquet",
          "records.$": "$.content_ids.records"
        }
      },
      "ResultPath": "$.lambda_result",
      "Next": "Fetch Movie Popularity Map"
    },
    "Fetch Movie Popularity Map": {
      "Type": "Map",
      "ItemsPath": "$.content_ids.records",
      "MaxConcurrency": 2,
      "Iterator": {
        "StartAt": "Fetch TMDB Movie Detail",
        "States": {
          "Fetch TMDB Movie Detail": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
              "Authentication": {
                "ConnectionArn": "arn:aws:events:eu-north-1:XXXXXXXXXXXX:connection/TMDB_API_CONNECTION/fc18e310-fa35-47b3-aef8-39e0c7d271fb"
              },
              "Method": "GET",
              "ApiEndpoint.$": "States.Format('https://api.themoviedb.org/3/{}', $.tmdb_id)",
              "QueryParameters": {
                "language": "en-US"
              }
            },
            "ResultPath": "$.tmdb_detail",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.Http.StatusCode.429",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 5,
                "BackoffRate": 2
              }
            ],
            "Next": "Build Popularity Record"
          },
          "Build Popularity Record": {
            "Type": "Pass",
            "Parameters": {
              "id.$": "$.id",
              "type.$": "$.type",
              "tmdb_id.$": "$.tmdb_id",
              "popularity.$": "$.tmdb_detail.ResponseBody.popularity",
              "loadDate.$": "$$.Execution.StartTime"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.popularity",
      "ResultSelector": {
        "records.$": "$[*]"
      },
      "Next": "Convert JSON to Parquet Popularity"
    },
    "Convert JSON to Parquet Popularity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "json-to-parquet-contentids",
        "Payload": {
          "bucket": "oruc-imdb-lake",
          "output_key": "raw/stg_popularity/data.parquet",
          "records.$": "$.popularity.records"
        }
      },
      "Next": "Run Crawlers in Parallel"
    },
    "Run Crawlers in Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Start ContentIDs Crawler",
          "States": {
            "Start ContentIDs Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "imdb-raw-contentids-crawler"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Glue.CrawlerRunningException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Start DimContent Crawler",
          "States": {
            "Start DimContent Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "imdb-gold-dimcontent-crawler"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Glue.CrawlerRunningException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                }
              ],
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "Next": "Wait For Crawlers"
    },
    "Wait For Crawlers": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Crawlers Status"
    },
    "Check Crawlers Status": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get ContentIDs Crawler Status",
          "States": {
            "Get ContentIDs Crawler Status": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
              "Parameters": {
                "Name": "imdb-raw-contentids-crawler"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Get DimContent Crawler Status",
          "States": {
            "Get DimContent Crawler Status": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
              "Parameters": {
                "Name": "imdb-gold-dimcontent-crawler"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.crawlers",
      "Next": "Check If All Crawlers Ready"
    },
    "Check If All Crawlers Ready": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.crawlers[0].Crawler.State",
              "StringEquals": "READY"
            },
            {
              "Variable": "$.crawlers[1].Crawler.State",
              "StringEquals": "READY"
            }
          ],
          "Next": "Detect New Content IDs"
        }
      ],
      "Default": "Wait For Crawlers"
    },
    "Detect New Content IDs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT DISTINCT i.id, i.type FROM stg_contentids i LEFT JOIN dim_content d ON i.id = d.content_id WHERE d.content_id IS NULL",
        "WorkGroup": "primary",
        "QueryExecutionContext": {
          "Database": "oruc-db"
        },
        "ResultConfiguration": {
          "OutputLocation": "s3://oruc-imdb-lake/athena-results/"
        }
      },
      "ResultPath": "$.query_execution",
      "Next": "Get New Content Results"
    },
    "Get New Content Results": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "QueryExecutionId.$": "$.query_execution.QueryExecution.QueryExecutionId",
        "MaxResults": 1000
      },
      "ResultPath": "$.new_content",
      "Next": "Has New Content?"
    },
    "Has New Content?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.new_content.ResultSet.Rows[1]",
          "IsPresent": true,
          "Next": "Enrich Content Metadata Glue"
        }
      ],
      "Default": "End Workflow"
    },
    "Enrich Content Metadata Glue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "imdb_enrich_content_metadata",
        "Arguments": {
          "--execution_date.$": "$$.Execution.StartTime"
        }
      },
      "Next": "Generate Dim & Bridge Tables"
    },
    "Generate Dim & Bridge Tables": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "imdb_generate_dim_bridge_tables"
      },
      "Next": "Build Fact Popularity"
    },
    "Build Fact Popularity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "imdb_build_fact_popularity"
      },
      "Next": "Start Gold Crawler"
    },
    "Start Gold Crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "imdb-gold-factpopularity-crawler"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.CrawlerRunningException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "End": true
    },
    "End Workflow": {
      "Type": "Succeed"
    }
  }
}